In [2]:
import re
print(re.findall(r'a.b','abc a_b a b abs'))

['a_b', 'a b']

In [3]:
print(re.findall(r'^Hello','Hello World'))

['Hello']

In [5]:
print(re.findall(r'world$','Hello World'))

[]

In [9]:
print(re.findall(r'ab*','ab abbb abb a'))

['ab', 'abbb', 'abb', 'a']

In [11]:
print(re.findall(r'a{2}','a aa aaa')) #exact repetitions

['aa', 'aa']

In [12]:
print(re.findall(r'a{1,2}','a aa aaa'))

['a', 'aa', 'aa', 'a']

In [13]:
print(re.findall(r'[aeiou]','Hello World'))

['e', 'o', 'o']

In [19]:
s='DEV25001'

pattern='[A-Z]{3}[0-9]{2}[0-9]{3}'


print(re.match(pattern,s))

<re.Match object; span=(0, 8), match='DEV25001'>

In [ ]:
s='Hello World'
S='i have 12 apples and 20 bananas' #12,20

In [20]:
import re

#diffrence between match and search

s='hi say hi to everyone'

print(re.match('hi',s))

print(re.search('hi',s))

<re.Match object; span=(0, 2), match='hi'>
<re.Match object; span=(0, 2), match='hi'>

In [ ]:
import re

text = "My number is 9876 and my friend's is 1234"

# search: only finds the first match
first_match = re.search(r'\d+', text)
print("First match:", first_match.group())

# findall: finds all digit sequences
all_matches = re.findall(r'\d+', text)
print("All matches:", all_matches)

First match: 9876
All matches: ['9876', '1234']

In [ ]:
text = "Python is Developed by Guido van Rossum in Netherlands"

cap_words = re.findall(r'\b[A-Z][a-z]*\b', text)
print("Capitalized words:", cap_words)

Capitalized words: ['Python', 'Developed', 'Guido', 'Rossum', 'Netherlands']

In [ ]:
def double_numbers(match):
    number = int(match.group())
    return str(number * 2)

text = "The cost is 5 dollars and 7 cents."
result = re.sub(r'\d+', double_numbers, text)
print(result)

The cost is 10 dollars and 14 cents.

In [ ]:
text = "You are such a fool and a dummy"
bad_words = r'\bfool|dummy\b'
censored = re.sub(bad_words, '[censored]', text)
print(censored)

You are such a [censored] and a [censored]

In [21]:
text = "Name: John, Age: 30"
match = re.search(r"Name: (\w+), Age: (\d+)", text)

if match:
    print("Full match:", match.group(0))  # Full match
    print("Name:", match.group(1))        # First group (\w+)
    print("Age:", match.group(2))         # Second group (\d+)

Full match: Name: John, Age: 30
Name: John
Age: 30

In [ ]:
import re

text = "apple,banana;grape orange"
result = re.split(r'[;,\s]+', text)
print(result)

['apple', 'banana', 'grape', 'orange']

In [ ]:
text = "one-two-three-four"
result = re.split(r'-', text, maxsplit=2)
print(result)

['one', 'two', 'three-four']

In [ ]:
text = "word1word2word3"
result = re.split(r'\d+', text)
print(result)

['word', 'word', 'word', '']

In [ ]:
result = re.subn(r'\d+', '#', '123 456 789')
print(result)  # Output: ('# #', 2)

('# # #', 3)

In [ ]:
pattern = re.compile(r'\d+')
print(pattern.findall('123 456'))  # Output: ['123', '456']

['123', '456']

In [ ]:
import re

text = "Python123"

# match()
print(re.match(r'Python', text))         # ✅ Matches: starts with Python
print(re.match(r'\d+', text))            # ❌ No match: doesn't start with digits

# fullmatch()
print(re.fullmatch(r'Python\d+', text))  # ✅ Matches whole string
print(re.fullmatch(r'Python', text))     # ❌ No match: doesn't match entire string

# search()
print(re.search(r'\d+', text))           # ✅ Finds: digits anywhere in the string

<re.Match object; span=(0, 6), match='Python'>
None
<re.Match object; span=(0, 9), match='Python123'>
None
<re.Match object; span=(6, 9), match='123'>

In [ ]:
import re

text = "Python 3.8 was released in 2019, and Python 3.9 in 2020."

# Find all Python version mentions
pattern = re.finditer(r'Python \d\.\d', text)

for match in pattern:
    print("Found:", match.group(), "at position:", match.span())

Found: Python 3.8 at position: (0, 10)
Found: Python 3.9 at position: (37, 47)

In [ ]:
import re

text = "Email: hello@example.com"

match = re.search(r'\w+@\w+\.\w+', text)

if match:
    print("Matched text :", match.group())        # hello@example.com
    print("Start index  :", match.start())        # 7
    print("End index    :", match.end())          # 24
    print("Span (start, end):", match.span())     # (7, 24)

Matched text : hello@example.com
Start index  : 7
End index    : 24
Span (start, end): (7, 24)

In [ ]:
# re.IGNORECASE or re.I

import re

text = "Hello World"
pattern = re.compile(r'hello', re.IGNORECASE)
match = pattern.search(text)
print(match.group())  # Output: Hello

Hello

In [ ]:
# re.DOTALL or re.S
text = "Hello\nWorld"
pattern = re.compile(r'Hello.World', re.DOTALL)
match = pattern.search(text)
print(match.group())  # Output: Hello\nWorld

Hello
World

In [ ]:
import re

pattern = r'^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'
text = "user@example.com"

match = re.match(pattern, text)
print(match.group() if match else "No match")

In [ ]:
import re

pattern = re.compile(r'''
    ^                           # Start of string
    [A-Za-z0-9._%+-]+           # Username: One or more valid characters
    @                           # @ symbol
    [A-Za-z0-9.-]+              # Domain name: One or more valid characters
    \.                          # Literal dot
    [A-Za-z]{2,}                # Top-level domain: At least 2 letters
    $                           # End of string
''', re.VERBOSE)

text = "user@example.com"

match = pattern.match(text)
print(match.group() if match else "No match")

In [ ]:
# re.VERBOSE or re.X

pattern = re.compile(r"""
    \d{3}      # Area code
    -          # Separator
    \d{3}
    -
    \d{4}
""", re.VERBOSE)

match = pattern.match("123-456-7890")
print(match.group())  # Output: 123-456-7890

123-456-7890

In [ ]:
# re.ASCII or re.A
pattern = re.compile(r'\w+', re.ASCII)
print(pattern.findall("café café"))  # Output: ['caf', 'caf']

['caf', 'caf']

In [ ]:
pattern = re.compile(r'hello.world', re.IGNORECASE | re.DOTALL)

In [ ]:
# # Email / phone number validation (real-world use)

# # Extracting hashtags, mentions from strings

# # Cleaning text (removing special characters, multiple spaces)

# # Checking passwords for patterns (like uppercase + digit)

# # Simple log parsing

# # Extract all email addresses from a paragraph
# # Extract all hashtags from a tweet
# # Extract all valid dates in DD/MM/YYYY format
# # Clean a text by removing all special characters except alphabets and digits
# # Check if a password contains at least one digit, one uppercase letter, and one special character
# # Extract all phone numbers (10-digit) from a string
# # Extract all URLs from a webpage snippet
# # Count how many times a particular word appears (e.g. "python")
# # Replace multiple spaces with a single space in a paragraph
# # Parse a log file to get request types (GET, POST, etc.)



# Extract all capitalized words from a sentence
# Remove all HTML tags from a given string
# Extract words starting with @ (usernames in tweets)
# Validate an email address format
# Validate a URL format (starting with http/https)
# Find all strings enclosed in double quotes
# Replace all numbers in a string with #
# Extract domain names from email addresses
# Find all time values in HH:MM format
# Extract all file extensions (e.g., .jpg, .pdf) from filenames
# Check if a string starts with a capital letter and ends with a period
# Match all numbers that are exactly 4 digits long
# Extract text between parentheses
# Split a paragraph into sentences using . as separator
# Match all alphanumeric IDs (like EMP1234)
# Identify repeated words (like "go go go")
# Extract hashtags and mentions separately from a tweet
# Replace tabs with 4 spaces in a text
# Find IP addresses in a mixed string
# Extract country codes from international phone numbers like +91-1234567890

# Validate if a string is a valid PAN number (e.g., ABCDE1234F)
# Extract all mobile numbers starting with 7, 8, or 9 and exactly 10 digits
# Match all dates in DD-MM-YYYY or DD/MM/YYYY format
# Replace all special characters in a string with an underscore
# Extract valid hexadecimal color codes like #A3C113
# Find all floating point numbers (e.g., 12.34, 0.5)
# Validate Aadhaar number (12 digits, with optional spaces)
# Extract titles like Mr., Mrs., Dr., Prof. from a paragraph
# Extract currency values like ₹1,200, $599.99
# Detect all repeated digits (like 112233)
# Find lines in a multiline string that start with a number
# Validate vehicle registration numbers (e.g., TN10AB1234)
# Extract all strings within square brackets [like this]
# Mask all but the last 4 digits of a credit card number
# Match strings that are valid hashtags (alphanumeric, starts with #)
# Extract YouTube video IDs from URLs
# Match all HTML entities (e.g., &amp;, &lt;)
# Remove all emojis from a given text
# Match valid GSTINs (Indian GST number)
# Validate a password: 8+ chars, at least 1 uppercase, 1 lowercase, 1 digit, 1 special char