In [1]:
print("hello")

hello

In [2]:
a=input()

123

In [3]:
a=1,2,3,5 #pack
print(a)

(1, 2, 3, 5)

In [4]:
data='abc',10,12.5
print(data)

('abc', 10, 12.5)

In [5]:
name,age,wei=data
print(name)
print(age)
print(wei)

abc
10
12.5

In [9]:
age=14
print(type(data))

<class 'tuple'>

In [11]:
a=int(input('enter a num: '))
print(type(a))

enter a num: 123
<class 'int'>

In [14]:
s=str(a)
type(s)

str

In [15]:
type(wei)

float

In [16]:
f=int(wei)

In [17]:
print(f)

12

In [18]:
print(data)

('abc', 10, 12.5)

In [19]:
print(1,2,3,4,5)

1 2 3 4 5

In [20]:
print(1,2,3,4,5,sep="/")

1/2/3/4/5

In [23]:
print('hello',end="!")
print()
print('World')

hello!
World

In [27]:
#operators

#arithmetic

#+,-,*,/,%,//,**

a=10
b=2

print(a//b)

5

In [30]:
a="10"
print(a*5)

1010101010

In [32]:
name='abc'
std="8th"


print(name,'is studying',std)

abc is studying 8th

In [34]:
print(f'{name} is studying {std}')

abc is studying 8th

In [35]:
print("abc's parent")

abc's parent

In [36]:
#formula
#c-f
#SI
#Compound

In [37]:
#s
a=10

a+=5
#a=a+5

In [38]:
ord('A')

65

In [39]:
bin(65)

'0b1000001'

In [40]:
chr(65)

'A'

In [41]:
n=101
s='One Hundered and one'

s1="100"

s+s1

'One Hundered and one100'

In [42]:
s[::-1]

'eno dna derednuH enO'

In [46]:
len(s)

20

In [52]:
s[:len(s)]

'One Hundered and one'

In [55]:
'One' not in s

False

In [56]:
a=8
b=5
print(a&b)

0

In [57]:
a=12
print(~a) # -(1+a)

-13

In [60]:
a=3+4j
print(type(a))

<class 'complex'>

In [61]:
'123456789'
'123498765'

'123498765'

In [65]:
# conditional st
a=50
b=10
if a<b:
    print("a is greater")
else:
    print('a less than b')
print('hello')

a less than b
hello

In [68]:
#elif

num=0

if num > 0:
    print("+")
    
elif num==0:
    print('is zero')
else:
    print('-')

is zerp

In [69]:
if num <=0:
    if num==0:
        pass
    else:
        pass
else:
    pass

In [70]:
a=
b=
c=

SyntaxError: invalid syntax (2403971169.py, line 1)

In [71]:
a='S'
a="E"

In [ ]:
#loops

#for _ in range(start,stop,step):

In [78]:
for i in range(5):
    print(i,'hello')

0 hello
1 hello
2 hello
3 hello
4 hello

In [80]:
for i in range(5):
    print(i,'hello')
else:
    print('end')

0 hello
1 hello
2 hello
3 hello
4 hello
end

In [81]:
for i in 'hello':
    print(i,'hello')
else:
    print('end')

h hello
e hello
l hello
l hello
o hello
end

In [1]:
153==1*1*1+5*5*5+3*3*3

True

In [ ]:
#array
#data Structures 
#list-[]
#tuple-()
#dict-{key:value}
#set-{}

In [2]:
#list
lis=[1,3.14,'str',True,[]]
print(lis)

[1, 3.14, 'str', True, []]

In [3]:
lis[2]

'str'

In [4]:
lis[2]='abc'
lis

[1, 3.14, 'abc', True, []]

In [11]:
#slice
l=[100,120,130,140,130,110]

print(l[2:4])
print(l[-3])
print(l[:])
print(l[::-1])
print(len(l))
print(l.count(130))

[130, 140]
140
[100, 120, 130, 140, 130, 110]
[110, 130, 140, 130, 120, 100]
6
2

In [19]:
city=['chennai-guindy','mumbai','delhi']

#
# 0 chennai
# 1 mumbai
# 2 delhi



print(city[0][8:])
print(len(city[1]))
print(city[0][1:4])

area=city[0][8:]
print(area)

guindy
6
hen
guindy

In [21]:
li=[[1,2],['abc','xyz',[999,888]]]


li[1][2][0]=1000
li

[[1, 2], ['abc', 'xyz', [1000, 888]]]

In [27]:
l=[100,120,130,140,130,110]

l.append(777)
l.insert(3,333)# index,value
print(779 in l)

num=l.index(777)
print(num)

False
7

In [30]:
#remove

#l.remove(333) # value
print(l)
l.pop()
print(l)

[100, 120, 130, 140, 130, 110, 777]
[100, 120, 140, 130, 110, 777]

In [31]:
#del l
l.clear()
l

[]

In [34]:
l=[100,120,130,140,130,110]
#l.append([111,222])
l.extend([111,222])
l

[100, 120, 130, 140, 130, 110, 111, 222]

In [36]:
l=l+[550,660]
print(l)

[100, 120, 130, 140, 130, 110, 111, 222, 550, 660]

In [37]:
l[::-2]

[660, 222, 110, 140, 120]

In [38]:
s=['re','rd']*3
s

['re', 'rd', 're', 'rd', 're', 'rd']

In [39]:
num=[1,2,3,4,5,6,7,8,9,10]
num2=[1,2,3,4,5,10,9,8,7,6]

In [42]:
#Tuple-()

t=(1,2,3)

t

(1, 2, 3)

In [41]:
#tuple-list

l=list(t)
l

[1, 2, 3]

In [43]:
t2=tuple(l)
t2

(1, 2, 3)

In [46]:
t2=(1,2,3,[2,3,5])

t2[-1][1]=222
t2

(1, 2, 3, [2, 222, 5])

In [53]:
#
a=[3,4]
b=a
b+=[5,6]
print(a)
print(b)

[3, 4, 5, 6]
[3, 4, 5, 6]

In [55]:
#copy- shallow copy
a=[3,4]

b=a.copy()

b+=[5,6]
print(a)
print(b)

[3, 4]
[3, 4, 5, 6]

In [57]:
a=[3,4,[999,888]]
b=a.copy()

b[2].append(1000)

print(b)

print(a)

[3, 4, [999, 888, 1000]]
[3, 4, [999, 888, 1000]]

In [58]:
import copy
#deep copy

a=[3,4,[999,888]]
b=copy.deepcopy(a)

b[2].append(1000)

print(b)

print(a)

[3, 4, [999, 888, 1000]]
[3, 4, [999, 888]]

In [ ]:
#dict

In [60]:
d={'name':"abc",'std':8,'height':5.5}
#single key:value=dict item

In [61]:
d['key']='value'
d

{'name': 'abc', 'std': 8, 'height': 5.5, 'key': 'value'}

In [63]:
d={'name':'abc','std':'ABB','height':5.5,'name':'ABB'}
print(d)

{'name': 'ABB', 'std': 'ABB', 'height': 5.5}

In [64]:
d['name']

'ABB'

In [65]:
d.get('name')

'ABB'

In [74]:
k=['name','age','std']
v=['abc',10,'5th']

z=zip(k,v)
print(dict(z))

{'name': 'abc', 'age': 10, 'std': '5th'}

In [76]:
k=['name','age','std']
v=['abc',10,'5th']

z=tuple(zip(k,v))
z

(('name', 'abc'), ('age', 10), ('std', '5th'))

In [78]:
d={'name':'abc','std':'ABB','height':5.5,'name':'ABB'}
print(d)
print(d.keys())
print(d.values())
print(d.items())

{'name': 'ABB', 'std': 'ABB', 'height': 5.5}
dict_keys(['name', 'std', 'height'])
dict_values(['ABB', 'ABB', 5.5])
dict_items([('name', 'ABB'), ('std', 'ABB'), ('height', 5.5)])

In [79]:
l=['name','age','height']

d={'name':4,'age':3,'height':6}



p=''

In [80]:
people={1:{'name':4,'age':3,'height':6},
        2:['name','age','std'],
        3:('name','age','std')}

In [81]:
people[1]['age']

3

In [82]:
people[2][2]

'std'

In [83]:
people[4]={'zero':0}
people

{1: {'name': 4, 'age': 3, 'height': 6},
 2: ['name', 'age', 'std'],
 3: ('name', 'age', 'std'),
 4: {'zero': 0}}

In [84]:
d={'a':5,'b':15,'c':25,'d':8}
d1={'b':15,'c':25}

In [86]:
n=int('5.5')
print(n)

5

In [87]:
n=int(input('Enter a float: '))
print(n)

Enter a float:

ValueError: invalid literal for int() with base 10: ''

In [88]:
#set-{}

l=[1,1,3,3,5,5,6]
print(set(l))

{1, 3, 5, 6}

In [ ]:
issubset()
issuperset()

In [93]:
s='hello world'
#s1='hll wrld'
v=['a','i','e','o','u']
c=[]
for char in s:
    if char not in v:
        #print(char)
        c.append(char)
print(''.join(c))

hll wrld

In [1]:
n=0  #
while n<5: # dec
    print("hello")
    n+=1 # update counter

hello
hello
hello
hello
hello

In [3]:
n=0  #
while n<5: # dec
    print("hello")
    n+=1 # update counter
else:
    print('end')

hello
hello
hello
hello
hello
end

In [7]:
#break
for i in 'python':
    if i =='h':
        break
    print(i)

p
y
t

In [8]:
#continue
for i in 'python':
    if i =='h':
        continue
    print(i)

p
y
t
o
n

In [10]:
#pass 

for i in 'python':
    pass

In [11]:
class fun:
    pass

In [13]:
for i in 'python':
    if i =='h':
        pass
    print(i)

p
y
t
h
o
n

In [17]:
def add():
    print('hello')
add()

hello

In [18]:
def add(a,b):
    print(a+b)
    
add(5,6)

11

In [ ]:
#with parameter and without return type
#without parameter and wiyhout return
#with parameter and with return type
##without parameter and with return type

In [19]:
def add():
    a=10
    b=6
    print(a+b)
    
add()

16

In [20]:
def add(a,b):
    return a+b
    
s=add(5,6)
print(s)

11

In [21]:
def add():
    a=10
    b=30
    return a+b
    
s=add()
print(s)

40

In [26]:
#Types of arguments

# positional 
def fun(a,b):
    print(a+b)
    
fun(2,3)

5

In [28]:
#default

def data(name='hello'):
    print(name)
    
data('abc')

abc

In [30]:
#keyword args
def data(name,age):
    print(f'hello {name} you are {age}')
    
data(age=12,name='abc')

hello abc you are 12

In [31]:
print("",end='',sep='')

In [39]:
#variable length arguments
def fun(name,*a):
    print(name)
    print(a)
    
fun('q')

q
()

In [ ]:
#variable length keyword arguments

In [43]:
def fun(name,**a):
    print(name)
    print(a)
    
fun('q',na='abc',age=2)

q
{'na': 'abc', 'age': 2}

In [44]:
#docstring
def addition(a,b):
    """this function takes two values and adds them"""
    return a+b

addition(1,3)

4

In [45]:
help(addition)

Help on function addition in module __main__:

addition(a, b)
    this function takes two values and adds them

In [47]:
addition.__doc__

'this function takes two values and adds them'

In [50]:
#function annotation
def data(a:int,b:str) -> str:
    """this function takes an int and string and returns a format string"""
    return f'Integer={a}, String={b}'
    
print(data(10,20))

Integer=10, String=20

In [51]:
data.__annotations__

{'a': int, 'b': str, 'return': str}

In [ ]:
#pascal triangle
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

array1 = [11, 10, 22, 20, 35, 67]
array2 = [22, 30, 35, 11]

out=[22,35,11] #without using set intersection

In [1]:
#scope
x=10
x=20
print(x)

20

In [3]:
x=20

def num():
    #x=10 #local
    global x
    x=x+30
    print(x,"inside func")
    
    
num()
print(x,'out func')

50 inside func
50 out func

In [ ]:
#recursion

In [ ]:

def list_sum(num_List):
    
    if len(num_List) == 1:
        
        return num_List[0]
    else:
        
        return num_List[0] + list_sum(num_List[1:])


print(list_sum([2, 4, 5, 6, 7]))

In [ ]:
#count the digts of a number
#reverse a string using recursion

In [2]:
# first class function


def square(num):
  return num*num


f=square


print(f)

<function square at 0x000002B1EF12E040>

In [4]:
f(5)

25

In [6]:
def my_map(func,arr):
  result=[]
  for i in arr:
    result.append(func(i))
  return result


squares=my_map(square,[1,2,3,4,5])
print(squares)

[1, 4, 9, 16, 25]

In [7]:
def logger(msg):
  def log_message():
    print('Log:',msg)
  return log_message

log_hi=logger('Hi')
log_hi()

Log: Hi

In [9]:
def logger(msg):
  def log_message(name):
    print('Log:',msg,'from:', name)
  return log_message



log_hi=logger('Hi')
log_hi('abc')



log_welcome=logger('Welcome')
log_welcome('xyz')

log_hi('ram')

Log: Hi from: abc
Log: Welcome from: xyz
Log: Hi from: ram

In [ ]:
#create a closure to add a fixed number

add5=adder(5)
add5(100)

add10=adder(10)
add10(100)

In [10]:
s='abc'
s[:0]

''

In [11]:
s[1:]

'bc'

In [ ]:
#flatten a list [1,[2,[3,4]],5]-> [1,2,3,4,5]

#substring
"""
s='1013'
substring=
'1,10,101,1013'
'0,01,013'
'1,13'
'3'

'''abcd

a,ab,abc,abcd,
b,bc,bcd,
c,cd
d'''

"""

In [12]:
def print_substrings(s, start=0, current=""):
    # Base case: if start index goes beyond the string length
    if start == len(s):
        return

    if current == "":
        current = s[start]

    print(current)

    if start + len(current) < len(s):
        # Expand the current substring
        print_substrings(s, start, current + s[start + len(current)])
    else:
        # Move to next starting character
        print_substrings(s, start + 1)

# Example usage:
print_substrings("abcd")

a
ab
abc
abcd
b
bc
bcd
c
cd
d

In [ ]:
#calculate the average of the given arguments using *args
#calculate the max of the given arguments using *args

In [13]:
#check the arguments using **kwargs
#required(name=abc,email=a@b,dob=1/11/1111) #All fields are present
#required(name=abc,dob=1/11/1111) #missing required feilds

In [14]:
#bill(100,tax=5,tip=10)

In [1]:
#create a closure to generate odd numbers

# odd=calculate()
# print(odd())#3
# print(odd())#5
# print(odd())#7

# odd2=calculate()
# print(odd2())#3

In [4]:
#scope inside a nested func

def data():
    color='green'
    
    def fly():
        #print(color)
        nonlocal color
        color='red'
        
    fly()
    
data()

green

In [2]:
#Iterabels
#list
#String
#Dictionary

In [2]:
for i in [1,2,3]:
    print(i)

1
2
3

In [3]:
#iterator
#iter()
iter([1,2,3])

In [13]:
#Iterables
my_list='hello'
#iterator
my_it=iter(my_list)

In [14]:
#next()
next(my_it)

'h'

In [15]:
#unpack with (*)
my_list='hello'

my_it=iter(my_list)

print(*my_it)

h e l l o

In [16]:
#cannot unpack multiple times
print(*my_it)

In [17]:
#unpack with list
my_list='hello'

my_it=iter(my_list)

list(my_it)

['h', 'e', 'l', 'l', 'o']

In [6]:
#enumerate()

ls=['a','b','c']

for i , v in enumerate(ls):
    print(i,v)

0 a
1 b
2 c

In [8]:
a=enumerate(ls)
#next(enumerate(ls))
print(next(a))
print(next(a))

(0, 'a')
(1, 'b')

In [24]:
list(enumerate(ls))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [25]:
list(enumerate(ls,start=3))

[(3, 'a'), (4, 'b'), (5, 'c')]

In [32]:
#generators
#generators are used to create iterators and they are memory efficient
#yield
def simple_gen():
    yield 1
    yield 2
    yield 3
    
gen=simple_gen()
gen

In [33]:
next(gen)

1

In [37]:
def infinite():
    num=0
    while True:
        yield num
        num+=1
        
gen=infinite()
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

0
1
2
3
4
5

In [39]:
#generators without yield
generator=(x for x in range(5))

generator
print(next(generator))
print(next(generator))

0
1

In [ ]:
# ls=[x for x in range(10**9)]
# ls[0]

In [9]:
gen=(x for x in range(10**9))
print(next(gen))
print(next(gen))

0
1

In [12]:
#decorators



def deco(func):
    def wrapper():
        print('before hi')
        func()
        print('after hi')
        func()
    return wrapper


@deco
def hi():
    print('Hello')

hi()

before hi
Hello
after hi
Hello

In [ ]:
deco(hi)

In [ ]:
def count_calls(func):
    def wrapper(*args, **kwargs):
        wrapper.count += 1
        return func(*args, **kwargs)
    wrapper.count = 0
    return wrapper

@count_calls
def example_function():
    """This is an example function."""
    print("Function executed")

example_function()
example_function()
example_function()

print(f"The function 'example_function' was called {example_function.count} times.")

In [13]:
def uppercase_decorator(func):
    def wrapper(*args, **kwargs):
        result = func(*args, **kwargs)
        if isinstance(result, str):
            return result.upper()
        return result
    return wrapper

@uppercase_decorator
def get_string():
    return "hello world"

@uppercase_decorator
def get_number():
    return 123

print(get_string())
print(get_number())

HELLO WORLD
123

In [1]:
def type_check_decorator(expected_type):
    def decorator(func):
        def wrapper(arg):
            if not isinstance(arg, expected_type):
                raise TypeError(f"Expected {expected_type}, got {type(arg)}")
            return func(arg)
        return wrapper
    return decorator

# Example usage
@type_check_decorator(int)
def square(n):
    return n * n

@type_check_decorator(str)
def shout(text):
    return text.upper()

# Valid calls
print(square(5))        # Output: 25
print(shout("hello"))   # Output: HELLO

# Invalid call - will raise TypeError
print(square("not a number"))  # Raises: TypeError

25
HELLO

TypeError: Expected <class 'int'>, got <class 'str'>

In [2]:
#lambda /Anonymos function/ single line function/ function with no name


a= lambda a,b:a*b

a(2,4)

8

In [3]:
b= lambda x: x %2==0

b(24)

True

In [ ]:
l=['abc','ab','a','aaaa']
l=['a','ab','abc','aaaa']

In [ ]:
#
l=[]
for i in range(10):
    if i %2==0:
        l.append(i)

In [2]:
l=[i for i in range(5) if i%2==0]
l

[0, 2, 4]

In [ ]:
result = [number for number in range(1,100) if True in [True for x in range(2,10) if number % x == 0]]
print(result)

In [3]:
#dict

d={i:i**2 for i in range(10)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [5]:
#map(),filter(),reduce()
#map(func,iter)

l=[2,3,4,5]
a=[]
for i in l:
    area=3.14*i**2
    a.append(area)

In [7]:
def area(a):
    return 3.14*a**2

list(map(area,l))

[12.56, 28.26, 50.24, 78.5]

In [8]:
list(map(lambda a:3.14*a**2,l))

[12.56, 28.26, 50.24, 78.5]

In [9]:
#filter(func,data)
l=[2,3,4,5,6,7,8]

list(filter(lambda a: a%2==0,l))

[2, 4, 6, 8]

In [11]:
#math module

In [ ]:
#random.choice()
#random.choices()
#random.sample()
#random.seed()
#random.uniform()

In [ ]:
#os
#get current working directory()
#change the directory()
#Rename a directory

In [1]:
print(10/0)
print('hello')

ZeroDivisionError: division by zero

In [ ]:
try:
    print(10/0)
except ZeroDivision

In [ ]:
import json
import os

def load_config(file_path):
    try:
        # Check if file exists
        if not os.path.isfile(file_path):
            raise FileNotFoundError(f"File not found: {file_path}")

        # Load JSON data
        with open(file_path, 'r') as file:
            config = json.load(file)

        # Validate essential keys
        required_keys = ['host', 'port', 'username']
        for key in required_keys:
            if key not in config:
                raise ValueError(f"Missing required key: {key}")

        # Validate types
        if not isinstance(config['port'], int):
            raise TypeError("Port must be an integer")

        return config

    except FileNotFoundError as fnf:
        print("File error:", fnf)
    except json.JSONDecodeError as jde:
        print("Invalid JSON format:", jde)
    except (ValueError, TypeError) as ve:
        print("Validation error:", ve)
    except Exception as e:
        print("Unexpected error:", e)

    return None

# --- Example usage ---
config = load_config("config.json")
if config:
    print("Valid config loaded:", config)
else:
    print("Failed to load valid config.")